.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #e4ee539d;
   
    
}

.image {
    align-items: center;
    width: 300px;
    height: 400px;
    border: 3px solid #272323;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
}



.button {
 
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #86f0de;
    
}